@media screen and (min-width: 1300px) {
  /* DESIGN FOR Desktop */

  * {
    font-family: "Bevan";
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
*
*
*
*
*
*
*
*
*
*/

  .home-section {
    display: flex;
  }
  .left-side {
    background-color: #d94133;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right-side {
    width: 50vw;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding-left: 17%;
    margin-top: 5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 43px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .hero {
    font-weight: bold;
    font-size: 72px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-left: 17%;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 35px;
    height: 35px;
    margin-top: 10px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 30px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 17%;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 17px;
    margin-right: 70px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .main-headline {
    font-size: 34px;
    color: black;
    line-height: 40px;
    font-weight: normal;
    overflow: hidden;
  }
  .secondary-headline {
    margin-left: 0px;
    padding: 0px;
    font-size: 28px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 20px;
    line-height: 35px;
  }
  .headline-container {
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: center;
    height: 100vh;
  }

  /* PROJECTS SECTION 
*
*
*
*
*
*
*
*
*
*/

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .active {
    border-bottom: solid 2px #d94133;
  }
  .project-header {
    display: flex;
    width: 100vw;
    align-items: baseline;
    margin-left: 150px;
  }
  .section-title {
    font-size: 50px;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 13%;
  }
  .project-nav div {
    color: #2d2d2d;
    font-size: 24px;
    font-weight: normal;
    margin-right: 90px;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: solid 2px #d94133;
    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3%;
  }

  .desktop-mockup {
    width: 656px;
    height: 496px;
    margin-left: 100px;
  }
  .project-name {
    font-weight: bold;
    font-size: 32px;
    color: #2d2d2d;
    margin-top: 40px;
  }

  .tech-used {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    opacity: 0.4;
  }
  .project-description {
    width: 78%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 22px;
    color: #2d2d2d;
    margin-top: 20px;
    line-height: 35px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
*
*
*
*
*
*
*
*
*
*
*
*/

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 60%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 70%;
    margin-left: 80px;
  }
  .about-title {
    font-weight: bold;
    font-size: 48px;
    height: fit-content;
    line-height: 57px;
    overflow: hidden;
    color: #2d2d2d;
  }

  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    width: 100%;
    margin-top: 20px;
    font-size: 23.7012px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
    margin-left: 50px;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
  }
  .actual-quote {
    font-size: 30px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 24px;
    color: #2d2d2d;
    font-weight: normal;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    margin-top: 120px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 195px;
    height: 195px;
    border-radius: 15px;
  }
  /* bottom contact
*
*
*
*
*
*
**
*
*/
  .bottom-contact {
    height: 90px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 10vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 30px;
    font-weight: normal;
    color: white;
    line-height: 41px;
    margin-left: 15%;
  }
  .contact-info-bottom {
    width: 20%;
    display: flex;
    margin-left: 28%;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1300px) {
  /* DESIGN FOR Desktop */

  * {
    font-family: "Bevan";
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
*
*
*
*
*
*
*
*
*
*/

  .home-section {
    display: flex;
  }
  .left-side {
    background-color: #d94133;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right-side {
    width: 50vw;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;

    padding-left: 17%;
    margin-top: 5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 43px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
    overflow: hidden;
  }
  .hero {
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    margin-left: 17%;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 25px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav ul {
    display: flex;
    justify-content: flex-start;
    margin-left: 17%;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 15px;
    margin-right: 70px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .main-headline {
    font-size: 22px;
    color: black;
    line-height: 40px;
    width: 70%;
    overflow: hidden;
    font-weight: normal;
  }
  .secondary-headline {
    margin-left: 0px;
    width: 70%;
    padding: 0px;
    font-size: 18px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 20px;
    line-height: 35px;
  }
  .headline-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }

  /* PROJECTS SECTION 
*
*
*
*
*
*
*
*
*
*/
  .active {
    border-bottom: solid 2px #d94133;
  }

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .project-header {
    display: flex;
    width: 100vw;
    align-items: baseline;
    margin-left: 15%;
  }
  .section-title {
    font-size: 35px;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;
  }
  .project-nav div {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: normal;
    margin-right: 50px;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: 2px solid #d94133;

    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
  }

  .desktop-mockup {
    width: 506px;
    height: 376px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .project-name {
    font-weight: bold;
    font-size: 32px;
    color: #2d2d2d;
    margin-top: 20px;
  }

  .tech-used {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    opacity: 0.4;
  }
  .project-description {
    width: 90%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 18px;
    color: #2d2d2d;
    margin-top: 30px;
    line-height: 35px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
*
*
*
*
*
*
*
*
*
*
*
*/

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 60%;
    margin-left: 50px;
  }
  .about-title {
    font-weight: bold;
    font-size: 48px;
    height: fit-content;
    line-height: 57px;
    color: #2d2d2d;
    height: fit-content;
  }
  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    margin-top: 20px;
    font-size: 23.7012px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
  }
  .actual-quote {
    font-size: 30px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 24px;
    color: #2d2d2d;
    font-weight: normal;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 120px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 195px;
    height: 195px;
    border-radius: 15px;
  }
  /* bottom contact
*
*
*
*
*
*
**
*
*/
  .bottom-contact {
    height: 90px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 5vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 30px;
    font-weight: normal;
    color: white;
    line-height: 41px;
    margin-left: 15%;
  }
  .contact-info-bottom {
    width: 20%;
    display: flex;
    margin-left: 28%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  /* DESIGN FOR Desktop */

  * {
    font-family: "Bevan";
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
*
*
*
*
*
*
*
*
*
*/

  .home-section {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    background-color: #d94133;
    height: fit-content;
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right-side {
    width: 100vw;
    height: 50vh;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 50px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
    overflow: hidden;
  }
  .hero {
    font-weight: bold;
    font-size: 65px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 35px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .top-nav {
    text-align: center;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0px;
    margin: 0px;
  }

  .main-headline {
    font-size: 32px;
    color: black;
    line-height: 40px;
    width: 70%;
    overflow-y: hidden;
    font-weight: normal;
  }
  .secondary-headline {
    margin-left: 0px;
    width: 70%;
    padding: 0px;
    font-size: 22px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 20px;
    line-height: 35px;
  }
  .headline-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  /* PROJECTS SECTION 
*
*
*
*
*
*
*
*
*
*/
  .active {
    border-bottom: solid 2px #d94133;
  }

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0px;
    margin-top: 5px;
  }
  .section-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 12%;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0px;
  }
  .project-nav div {
    color: #2d2d2d;
    margin-right: 0px;
    font-size: 18px;
    font-weight: normal;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: 2px solid #d94133;
    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-mockup {
    width: 570px;
    height: 381px;
    margin: 0px;
  }
  .project-name {
    font-weight: bold;
    margin-left: 10%;
    font-size: 32px;
    color: #2d2d2d;
    margin-top: 20px;
  }

  .tech-used {
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    opacity: 0.4;
  }
  .project-description {
    width: 80%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 18px;
    margin-left: 50%;
    transform: translate(-50%);
    color: #2d2d2d;
    margin-top: 20px;
    line-height: 35px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
*
*
*
*
*
*
*
*
*
*
*
*/

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 80%;
    margin-left: 0px;
  }
  .about-title {
    font-weight: bold;
    font-size: 35px;
    height: fit-content;
    line-height: 57px;
    color: #2d2d2d;
    height: fit-content;
  }
  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    margin-top: 20px;
    font-size: 23.7012px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
    display: none;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
  }
  .actual-quote {
    font-size: 30px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 24px;
    color: #2d2d2d;
    font-weight: normal;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 120px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 155px;
    height: 155px;
    border-radius: 15px;
  }
  /* bottom contact
*
*
*
*
*
*
**
*
*/
  .bottom-contact {
    height: 90px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 5vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 20px;
    font-weight: normal;
    color: white;
    line-height: 41px;
    margin-left: 15%;
  }
  .contact-info-bottom {
    width: 30%;
    display: flex;
    margin-left: 20%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  /* DESIGN FOR Desktop */

  * {
    font-family: "Bevan";
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
*
*
*
*
*
*
*
*
*
*/

  .home-section {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    background-color: #d94133;
    height: fit-content;
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .right-side {
    width: 100vw;
    height: 50vh;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 25px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
    overflow: hidden;
  }
  .hero {
    font-weight: bold;
    font-size: 45px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 35px;
    height: 35px;
    margin-top: 20px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 25px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .top-nav {
    text-align: center;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0px;
    margin: 0px;
  }

  .main-headline {
    font-size: 25 px;
    color: black;
    line-height: 40px;
    width: 70%;
    overflow-y: hidden;
    font-weight: normal;
  }
  .secondary-headline {
    margin-left: 0px;
    width: 70%;
    padding: 0px;
    font-size: 22px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 20px;
    line-height: 35px;
  }
  .headline-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  /* PROJECTS SECTION 
*
*
*
*
*
*
*
*
*
*/
  .active {
    border-bottom: solid 2px #d94133;
  }

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0px;
    margin-top: 5px;
  }
  .section-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-left: 12%;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0px;
  }
  .project-nav div {
    color: #2d2d2d;
    margin-right: 0px;
    font-size: 18px;
    font-weight: normal;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: 2px solid #d94133;
    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-mockup {
    width: 540px;
    height: 381px;
    margin: 0px;
  }
  .project-name {
    font-weight: bold;
    margin-left: 10%;
    font-size: 28px;
    color: #2d2d2d;
    margin-top: 20px;
  }

  .tech-used {
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 28px;
    height: 28px;
    margin-right: 20px;
    opacity: 0.4;
  }
  .project-description {
    width: 80%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 18px;
    margin-left: 50%;
    transform: translate(-50%);
    color: #2d2d2d;
    margin-top: 20px;
    line-height: 35px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 150px;
    height: 38px;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
*
*
*
*
*
*
*
*
*
*
*
*/

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 80%;
    margin-left: 0px;
  }
  .about-title {
    font-weight: bold;
    font-size: 30px;
    height: fit-content;
    line-height: 57px;
    color: #2d2d2d;
    height: fit-content;
  }
  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    margin-top: 15px;
    font-size: 23.7012px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
    display: none;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
  }
  .actual-quote {
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 20px;
    color: #2d2d2d;
    font-weight: normal;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 70px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 105px;
    height: 105px;
    border-radius: 15px;
  }
  /* bottom contact
*
*
*
*
*
*
**
*
*/
  .bottom-contact {
    height: 90px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 5vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 18px;
    font-weight: normal;
    color: white;
    line-height: 41px;
    margin-left: 15%;
  }
  .contact-info-bottom {
    width: 30%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 500px) {
  /* DESIGN FOR larger mobile

  * {
    font-family: "Bevan";
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
*
*
*
*
*
*
*
*
*
*/

  .home-section {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    background-color: #d94133;
    height: fit-content;
    min-height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .right-side {
    width: 100vw;
    height: 40vh;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 30%;
    padding: 0px;
    margin-left: 13.5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 25px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
    overflow: hidden;
  }
  .hero {
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    margin-top: -10px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 22px;
    height: 22px;
    margin-top: 10px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 23px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50%;
    margin-top: 0px;
    transform: translate(-50%);
  }
  .top-nav {
    text-align: center;
    margin-top: 10%;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0px;
    margin: 0px;
  }

  .main-headline {
    font-size: 17px;
    color: black;
    line-height: 21px;
    width: 70%;
    overflow-y: hidden;
    font-weight: normal;
  }
  .secondary-headline {
    margin-left: 0px;
    width: 70%;
    padding: 0px;
    font-size: 16px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 10px;
    line-height: 19px;
    overflow: hidden;
  }
  .headline-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  /* PROJECTS SECTION 
*
*
*
*
*
*
*
*
*
*/
  .active {
    border-bottom: solid 2px #d94133;
  }

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0px;
    margin-top: 5px;
  }
  .section-title {
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 12%;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0px;
  }
  .project-nav div {
    color: #2d2d2d;
    margin-right: 0px;
    font-size: 13px;
    font-weight: normal;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: 2px solid #d94133;
    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-mockup {
    width: 350px;
    height: 260px;
    margin: 0px;
  }
  .project-name {
    font-weight: bold;
    margin-left: 10%;
    font-size: 20px;
    color: #2d2d2d;
    margin-top: 20px;
  }

  .tech-used {
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.4;
  }
  .project-description {
    width: 90%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 18px;
    margin-left: 50%;
    transform: translate(-50%);
    color: #2d2d2d;
    margin-top: 20px;
    line-height: 28px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
    width: 90%;
    transform: translate(-50%);
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 100px;
    height: 38px;
    overflow: hidden;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 100px;
    height: 38px;
    overflow: hidden;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
*
*
*
*
*
*
*
*
*
*
*
*/

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 85%;
    margin-left: 0px;
  }
  .about-title {
    font-weight: bold;
    font-size: 30px;
    height: fit-content;
    line-height: 47px;
    overflow: hidden;
    color: #2d2d2d;
    height: fit-content;
  }
  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    margin-top: 15px;
    font-size: 17px;
  }
  nav {
    margin-top: 20px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
    display: none;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
    width: 90%;
  }
  .actual-quote {
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 17px;
    color: #2d2d2d;
    font-weight: normal;
    line-height: 21px;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 40px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 85px;
    height: 85px;
    border-radius: 15px;
  }
  /* bottom contact
*
*
*
*
*
*
**
*
*/
  .bottom-contact {
    height: 70px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 5vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 15px;
    font-weight: normal;
    color: white;
    line-height: 21px;
    margin-left: 10%;
  }
  .contact-info-bottom {
    width: 30%;
    display: flex;
    margin-left: 8%;
    justify-content: space-evenly;
  }
  .bottom-tech {
    width: 18px;
    margin-top: 8px;
    height: 18px;
  }
}

@media screen and (max-width: 400px) {
  /* DESIGN FOR mobile 

  * {
    font-family: "Bevan";
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /* MAIN SECTION 
  *
  *
  *
  *
  *
  *
  *
  *
  *
  */

  .home-section {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    background-color: #d94133;
    height: fit-content;
    min-height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .right-side {
    width: 100vw;
    height: 40vh;
    background-image: url("./Images/ant-background-half.png");
    background-size: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 30%;
    padding: 0px;
    margin-left: 13.5%;
  }
  .secondary-hero {
    font-weight: normal;
    font-size: 20px;
    color: white;
    padding: 0px;
    margin-left: 0px;
    text-align: left;
    overflow: hidden;
  }
  .hero {
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    margin-top: -10px;
    color: white;
    text-align: left;
  }
  .contact-container {
    display: flex;
    margin-top: 20%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .contact-top {
    color: white;
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }
  .contact-top img {
    margin-right: 40px;
    width: 22px;
    height: 22px;
    margin-top: 10px;
  }
  .contact-headline {
    color: white;
    font-family: "Abel";
    font-size: 20px;
    margin-left: 0;
    padding-left: 0px;
  }
  nav {
    margin-top: 20px;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 50%;
    margin-top: 0px;
    transform: translate(-50%);
  }
  .top-nav {
    text-align: center;
    margin-top: 10%;
  }
  nav a {
    color: white;
    list-style: none;
    font-family: "Abel";
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 0px;
    margin: 0px;
  }

  .main-headline {
    font-size: 15px;
    color: black;
    line-height: 21px;
    width: 70%;
    overflow-y: hidden;
    font-weight: normal;
  }
  .secondary-headline {
    margin-left: 0px;
    width: 70%;
    padding: 0px;
    font-size: 15px;
    font-family: "Abel";
    font-weight: normal;
    margin-top: 10px;
    line-height: 19px;
  }
  .headline-container {
    width: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  /* PROJECTS SECTION 
  *
  *
  *
  *
  *
  *
  *
  *
  *
  */
  .active {
    border-bottom: solid 2px #d94133;
  }

  .projects-section {
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    background-color: #f7f7f7;
    padding-top: 100px;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 0px;
    margin-top: 5px;
  }
  .section-title {
    font-size: 23px;
    margin-bottom: 20px;
    margin-left: 12%;
    color: #2d2d2d;
    font-weight: bold;
  }
  .project-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 0px;
  }
  .project-nav div {
    color: #2d2d2d;
    margin-right: 0px;
    font-size: 13px;
    font-weight: normal;
    font-family: "Abel";
  }
  .project-nav div:hover {
    cursor: pointer;
    border-bottom: 2px solid #d94133;
    transform: 1s;
  }
  .project-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .project-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .desktop-mockup {
    width: 300px;
    height: 220px;
    margin: 0px;
  }
  .project-name {
    font-weight: bold;
    margin-left: 10%;
    font-size: 20px;
    color: #2d2d2d;
    margin-top: 20px;
  }

  .tech-used {
    display: flex;
    margin-left: 10%;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
  }
  .tech {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.4;
  }
  .project-description {
    width: 90%;
    font-weight: normal;
    font-family: "Abel";
    font-size: 18px;
    margin-left: 50%;
    transform: translate(-50%);
    color: #2d2d2d;
    margin-top: 20px;
    line-height: 28px;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
    width: 90%;
    transform: translate(-50%);
  }
  .repo-button {
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 100px;
    height: 38px;
    overflow: hidden;
    color: #d94133;
    border-radius: 26.5025px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 7px;
    font-weight: normal;
    transition: 0.5s;
    display: inline-block;
  }
  .live-button {
    background-color: #d94133;
    border: 2px solid #d94133;
    box-sizing: border-box;
    width: 100px;
    height: 38px;
    overflow: hidden;
    border-radius: 26.5025px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
  }

  .link-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;

    text-decoration: none;
  }

  .repo-button:hover {
    background-color: #d94133;
    color: white;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
  }

  .live-button:hover {
    background-color: white;
    color: #d94133;
    transition: 1s;
    border: 2px solid #d94133;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons a {
    text-decoration: none;
    width: 150px;
  }

  /* ABOUT SECTION
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  *
  */

  .about-section {
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    color: #e5e5e5;
    background-image: url("./Images/ant-background-full.png");
    background-size: 100%;
  }

  .main-copy {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 8%;
  }
  .about-copy {
    width: 85%;
    margin-left: 0px;
  }
  .about-title {
    font-weight: bold;
    font-size: 30px;
    height: fit-content;
    line-height: 47px;
    overflow: hidden;
    color: #2d2d2d;
    height: fit-content;
  }
  .about-me-p {
    font-family: "Abel";
    font-style: normal;
    font-weight: normal;
    color: #717171;
    margin-top: 15px;
    font-size: 17px;
  }
  .images {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .young {
    display: block;
    width: 255px;
    height: 372px;
    float: right;
    border-radius: 10px;
    margin: 5px;
    display: none;
  }
  .quote {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin-top: 10%;
    width: 100%;
  }
  .actual-quote {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #2d2d2d;
  }
  .quoter {
    font-family: "Abel";
    font-size: 17px;
    color: #2d2d2d;
    font-weight: normal;
    line-height: 21px;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: #d94133;
  }
  a:hover {
    text-decoration: underline;
    color: black;
  }

  .contact-info {
    display: flex;
    justify-content: space-evenly;
  }
  address img {
    height: 30px;
    width: 30px;
  }

  .pictures {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 40px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .pics {
    width: 85px;
    height: 85px;
    border-radius: 15px;
  }
  /* bottom contact
  *
  *
  *
  *
  *
  *
  **
  *
  */
  .bottom-contact {
    height: 70px;
    width: 100vw;
    flex-direction: row;
    bottom: 0px;
    background-color: #d94133;
    display: flex;
    margin-top: 5vh;
    align-items: center;
  }
  .call-to-action {
    font-family: "Abel";
    font-size: 15px;
    font-weight: normal;
    color: white;
    line-height: 21px;
    margin-left: 10%;
  }
  .contact-info-bottom {
    width: 30%;
    display: flex;
    margin-left: 8%;
    justify-content: space-evenly;
  }
  .bottom-tech {
    width: 18px;
    margin-top: 8px;
    height: 18px;
  }
}
